* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Fonte */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/* alinhamento*/
.alinhamento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Texto negrito */
.textoForte {
    font-weight: 600;

}

/* Margem lateral*/
.margemLateral {
    margin: 0px 120px;
}

/* Texto centralizado */
.textoCentro {
    text-align: center;
}

/* Botões */
.botao {
    padding: 10px 30px;
    background-color: #9B51E0;
    color: #FEFEFE;
    text-decoration: none;
    border-radius: 999px;
    font-size: 2rem;
    font-weight: 600;
}

.botao:hover {
    background-color: #56CCF2;
}


/* Cabeçalho */
header {
    background-color: #FEFEFE;
    border-bottom: 1px solid #9B51E0;
}

header>section,
nav,
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>section {
    margin: 0px 120px;
}

nav>ul {
    list-style-type: none;
}

li>a {
    margin: 10px;
    text-decoration: none;
    color: #242424;
    font-size: 1.5rem;
}

li>a:hover {
    color: #FFC300;
}

li>a.botao {
    font-size: 1.5rem;
    color: #FEFEFE;
}


/* Seção 1 */
h1 {
    font-size: 3.5rem;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#inicio, #variedades {
    background-color: #9b51e010;
}

.apresentacao {
    display: flex;
    align-items: center;
}

.apresentacao>h1 {
    margin-bottom: 20px;
}


.mensagem {
    margin: 70px;
    margin-right: 115px;

}

.mensagem>div {
    margin-bottom: 40px;
}

.mensagem>div>p {
    font-size: 2rem;
}

video {
    width: 492px;
}


/* Sessão 2- Como fazer seu pedido */
h2 {
    font-size: 4rem;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}

.ContainerIcones {
    width: 300px;
    margin: 0px 46px;

}

#pedido>h2 {
    margin-bottom: 42px;
}

#pedido>article {
    display: flex;
}

#pedido>.botao {
    margin-top: 22px;
    margin-bottom: 40px;
}

.ContainerIcones>img {
    margin-bottom: 45px;
}

.textoRoxo {
    font-size: 2rem;
    color: #9B51E0;
    margin-bottom: 5px;
}

.roxo {
    color: #9B51E0;
}

.ContainerIcones>.roxo:hover {
    color: #56CCF2;
}

.ContainerIcones>p {
    font-size: 1.5rem;
    text-align: center;
}



/* sessão 3- Variedades de canecas */

#SessaoVariedades>h2, #SessaoVariedades>p{
    margin-bottom: 40px;
}

#ceramica,
#vidro,
#metal,
#tematica,
#personalizada {
    width: 26px;
    height: 26px;
    background-color: #9b51e050;
    border-radius: 999px;
    border: none;
    margin: 5px;
}

#ceramica {
    background-color: #9B51E0;
}

.carroselCanecas {
    background-color: #fff;
    padding: 20px;
    border: #9B51E0 1px solid;
    border-radius: 30px;
    margin-right: 124px;
}

.carroselCanecas>h4 {
    font-size: 2rem;
}

.carroselCanecas>p {
    font-size: 1.3rem;
}

#SessaoVariedades>div {
    display: flex;
    align-items: center;
}

.observacoes>h3 {
    font-size: 3rem;
    margin-bottom: 35px;
}

.observacoes>p {
    width: 596px;
    height: 78px;
    font-size: 2rem;
    margin-top: 30px;
    border-bottom: #9B51E0 1px solid;
}

.observacoes>p:hover {
    color: #FFC300;
}

#SessaoVariedades>.botao {
    margin: 89px 0px 55px 0px;
}

#SessaoVariedades>p {
    font-size: 1.5rem;
}


/* Sessão 4- Prazo de produção */
#prazo {
    background-color: #ffc40020;
}

#prazo>article {
    overflow: hidden;
}

#prazo>article>h2 {
    text-align: center;
    margin-bottom: 50px;
}

#prazo>article>p {
    text-align: center;
    width: 1011px;
    font-size: 1.5rem;
    margin: 50px 0px;
}


/* Sessão do carrosel */
.containerCarrossel {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    position: relative;
    right: calc(-1 * 120px);
    overflow: hidden;
    width: 100vw;

    /* Faz uma barrinha pra rolar lateral */
    /* overflow-x: auto;
    scroll-snap-type: x mandatory; */
}

#CardCeramica,
#CardVidro,
#CardMetal,
#CardPersonalizado,
#CardTematica {
    background-color: #FEFEFE;
    width: 773px;
    height: 515px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 21px 25px;
    flex: 0 0 auto;

    /* Faz uma barrinha pra rolar lateral */
    /* scroll-snap-align: start; */
}

#CardCeramica>img,
#CardVidro>img,
#CardMetal>img,
#CardPersonalizado>img,
#CardTematica {
    width: 237px;
    margin-right: 45px;
}

#CardCeramica>div>h4,
#CardVidro>div>h4,
#CardMetal>div>h4,
#CardPersonalizado>div>h4,
#CardTematica>div>h4 {
    font-size: 4rem;
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
}

#CardCeramica>div>p,
#CardVidro>div>p,
#CardMetal>div>p,
#CardPersonalizado>div>p,
#CardTematica>div>p {
    font-size: 2rem;
}



/* Sessão 5- Perguntas frequentes */
#sessaoPerguntas {
    border-bottom: #9B51E0 solid 1px;
}

#Perguntas>.botao {
    margin-bottom: 40px;
}

#Perguntas {
    display: flex;
}

#Perguntas>h2,
#Perguntas>.cardPerguntas>div,
#Perguntas>p {
    text-align: center;
}

#Perguntas>h2 {
    margin-bottom: 105px;
}

#Perguntas>p {
    margin: 183px 0px 20px 0px;
    font-size: 2rem;
}


.cardPerguntas {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#Perguntas>.cardPerguntas>div {
    border-bottom: #242424 1px solid;
    width: 800px;
    padding-bottom: 50px;
}

#Perguntas>.cardPerguntas>div>p {
    background-color: #56cbf220;
    font-size: 2rem;
    text-align: left;
    border-radius: 30px;
    padding: 10px;
}



/* Sessçao 6- Avaliações */
#cardGoogle>.alinhamento>p {
    font-size: 1.5rem;
}

#cardGoogle>.alinhamento {
    display: flex;
    gap: 10px;
}

#cardGoogle>.alinhamento>h3 {
    font-size: 2rem;
}

#avaliacoes {
    border-bottom: #242424 solid 1px;
}

/* Article */
#cardGoogle {
    display: flex;
    margin: 97px 96px;
}

#carrosselAvaliacoes {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
}

/* Card de avaliações */
.cardAvaliacoes {
    background-color: #FEFEFE;
    width: 270px;
    height: 210.6px;
    padding: 14px 13px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #1a1a1a72;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imagens {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Nome {
    font-size: 1rem;
}

.Data {
    font-size: 0.8rem;
    color: #A7A7A7;
}

.Estrelas {
    width: 108px;
}

.feedback {
    display: flex;
    flex-direction: column;
}

.feedback>p {
    font-size: 0.8rem
}

/* Botão */
.passaLado {
    width: 30px;
    height: 30px;
    color: #A7A7A7;
    background-color: #ffffff00;
    border-color: #ffffff00;
    font-size: 2rem;
}



/* Sessão Footer*/

#rodape {
    margin-top: 20px;
    background-color: #F4EDFB;
}

.informacoes {
    display: flex;
    justify-content: space-between;

}

.informacoes>div>h4 {
    font-size: 2rem;
    font-weight: 400;
}

.icones>p {
    font-size: 1.5rem;
    text-align: left;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

#contato>div>div,
.imagensPagamento {
    margin: 20px 0px;
}

#contato,
#pagamento {
    width: 393px;
}

.imagensPagamento {
    width: 206px;

}

.imagensPagamento>img {
    margin-right: 10px;
}

#selos>h4 {
    margin-bottom: 20px;
}


/* copyright */
footer {
    background-color: #242424;
}

#copyright {
    text-align: center;
    margin: 10px;
    color: #FEFEFE;
}